<div class="products-list row">

  {% if search.performed? and search.results != empty %}
    {% for product in search.results %}
      <div class="product-card-wrapper in-search cell-3 cell-4-md cell-6-xs cell-12-mc">
        {% include 'product_card' %}
      </div>
    {% endfor %}

  {% elsif search.performed? and search.results == empty %}
    <div class="cell-12">
      <div class="notice is-info">
        {{ messages.search_is_fail }}
      </div>
    </div>

  {% else %}
    <div class="cell-12">
      <div class="notice is-info">
        {{ messages.search_is_empty }}
      </div>
    </div>

  {% endif %}
</div>
