<form class="search-widget {{ widget_class }}" action="/search" method="get">
  <input type="text"
          name="q"
          class="search-widget-field"
          value="{{ search.query | escape }}"
          placeholder="{{ messages.search_title }}"
  >

</input>
<button type="submit" class="search-widget-button button is-widget-submit">
  
</button>

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}">
  {% endif %}

</form>

{% assign widget_class = null %}
