.product-prices {
  &.in-card {
    font-size: 18px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#gallery {

  @include media-max(sm) {
    display: none;
  }
}

#review_form {
  display: none;
}

.product-link {

  @include link-decor($color-link-primary, $color-link-primary-hover);
  text-align: center;
  margin: auto;
  display: block;
  line-height: 1.5rem;
  text-align: center;
}

.product-introtext {
  margin-bottom: 1rem;
}

.product > .row{
  padding: 1rem;
  border: 1px solid #eaeaea;
  margin: 0;
}

.form-rating-label:nth-last-child(1) {

  @include icon($fa-refresh, 'after');

  @include link-decor($color-link-primary, $color-link-primary-hover);
  color: $color-link-primary !important;
  display: none;
}

.form-captcha-update:focus {
  box-shadow: none;
  border: none;
}

.tab-block-inner > iframe {
  max-width: 100% !important;
}

.tab-block-inner.editor table {
  // display: table;

  & tbody {
    display: block;
  }
}

.product-form {
  margin-bottom: 1rem;
}

.product-sku-wrapper {
  margin-bottom: 0.75rem;

  & > .label-article {
    opacity: 0.6;
  }
}

.product-prices {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0.25rem 0.4rem;
  }

  @include media-max(xs) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.bundle-slider {

  @include media-max(sm) {
    margin: auto;
  }
}

.product-button.is-quick-checkout {

  @include media-max(xs) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.product-gallery-wrapper {
  position: relative;

  @include media-max(sm) {
    & .product-labels {
      position: static;
    }
  }
}

.gallery-main-wrapper {
  text-align: center;
}

.product-slider-controls .hidden_counter {
  display: none;

  @include media-max(sm) {
    display: block;
  }
}

.mobile-wrapper {
  margin-bottom: 2.5rem;
}

.product-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem -0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  > * {
    margin: 0.5rem;
    color: $color-link-primary;
  }

  @include media-max(xs) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.product-cart-control {

  @extend .product-control;
}

.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.compare-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  @include media-max(xs) {
    width: 100%;
  }
}

.product-option-selectors .option {
  margin-right: 1rem;
}

//==================================
//          modal-window
//==================================
.m-modal {
  padding: 0;
  background-color: $color-background-primary;
  color: $color-text-primary;
}

.m-modal-heading {
  color: $color-text-primary;
  margin-top: 0;
}

.m-input-label {
  color: $color-text-primary;
}

.m-input-field {
  color: $gray-darker;
  outline: none;
  background-color: #fff;
}
.m-input--checkbox {
  opacity: 1;
}

.m-modal-close {
  @include link-decor;
  background: none;
  height: 20px;
  width: 20px;
  top: 8px;
  @include own-icon($fa-close, 'iconmonstr-iconic-font') {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  };

  &:hover {
    background-color: transparent;
  }
}
//==================================
//          product-card
//==================================

.product-card-wrapper {
  padding: 1.25rem;

  &.in-tab {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;

    @include media-max(md) {
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      max-width: 33%;
    }

    @include media-max(sm) {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }

    @include media-max(xs) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.product-card {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 4px;
  box-shadow: 1px 2px 5px rgba($color-border-primary, 0.7);
  overflow: hidden;
  .product-cart-control{
    .button-buy{
  	  -ms-flex-preferred-size: auto;
      flex-basis: auto;
      min-width: 0;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      padding: 18px 46px;
      width: 100%;
	  font-size: 1.1em;
    }
  }
  .card-title{
    a{
      font-weight: bold;
      color: #212121;
      line-height: normal;
    }
  }
  .short{
    font-weight: 300;
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.3;
  }
}

.product-card-inner {
  position: relative;
  .padded{
    padding: 1rem;
  }
}

.product-card-photo {
  display: block;
  text-align: center;
  img{
    height: 280px;
  }
}

.product-card-caption {
  text-align: center;
  line-height: 1.4;
}

.product-content {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.tab {
    margin-top: 3rem;
  }
}

//=====================
//        labels
//=====================

.product-labels {
  position: absolute;
  top: 0;
  left: 0;
}

.label {
  background-color: $color-link-primary;
  color: #fff;

  &.is-discount {
    background-color: #dc4646;
    color: #fff;
  }
}

//===========
// price
//====================

.price {
  font-weight: bold;
  white-space: nowrap;

  &.is-discount {
    font-size: 0.8em;
    text-decoration: line-through;
  }

  &.on-page {
    font-size: $font-size-large;
  }
}

.old-price {
  text-decoration: line-through;
  opacity: 0.6;

  &.on-page {
    font-size: $font-size-medium;
  }
}

//=============================
//       product-slider
//=============================

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &.is-related-products .product-slider-heading {
    word-break: break-all;
  }
}

.product-slider-heading-wrapper {

  @extend %title-decore;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-bottom: 2rem;
}

.product-slider-heading {

  @extend %heading-h2;

  @include link-decor();
  color: #212121;
  word-wrap: break-word;
  -webkit-box-flex: 1;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: 26px;
  font-weight: bold;
  //margin-left: auto;
  //margin-right: auto;
}

.product-slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  &.controls-above-gallery {
    justify-content: flex-end;
  }
}

.swiper-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  //margin-top: 2.5rem;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 6px;
}

.product-slider-prev,
.product-slider-next {

  color: #212121;

  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  background-image: none;
  font-size: 1rem;

  &:focus {
    outline: none;
  }

  &:active,
  &:hover {
    color: $color-link-primary-hover;
  }

  &.is-disabled:active,
  &.is-disabled:hover {
    opacity: 0.35;
    color: $color-link-primary;
  }
}

.gallery-slider {
  margin-left: auto;
}

.gallery-thumbs {
  //padding-top: 2rem;

  .swiper-wrapper {
    //margin-left: 2rem;
    //margin-right: 2rem;
    //width: auto;
  }
}

.gallery-controls {
  margin-top: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  //padding-left: 0;
  //
  //&:before {
  //  margin-left: 0;
  //}

  .product-slider-prev,
  .product-slider-next {
    top: 50%;
    transform: translateY(-50%);

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.product-slider-prev {

  @include own-icon($fa-angle-left, 'iconmonstr-iconic-font');
  left: 0;
}

.product-slider-next {

  @include own-icon($fa-angle-right, 'iconmonstr-iconic-font');
  right: 0;
}

.button-buy {

  @include button-variant();
  width: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  .product-cart-control  & {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;

    display: inline-block;
  }
}

.bundle_buy > .is-preorder {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.button.product-button {
  //border-radius: 0.15rem;

  @include media-max(xs) {
    width: 100%;
  }
}

.compare-link {

  @include link-decor;
  border: none;
  background: none;
  text-decoration: underline;

  @include media-max(xs) {
    width: 100%;
    margin: 0.3rem 0;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.bundle-prices {
  margin: 0.25rem 0;
}

.price-bundle {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;

  & span {
    white-space: nowrap;
    font-weight: bold;
    text-decoration: line-through;
  }
}

.price_discount {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;

  & span {
    white-space: nowrap;
    font-weight: bold;
  }
}

.price_finall {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;

  & span {
    white-space: nowrap;
    font-weight: bold;
  }
}

.buy.bundle_buy {
  margin: 0;
  margin-top: 0.8rem;



  @include media-min(sm) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
  }
}

.product-slider.is-bundle-products {
  margin-top: 0;
  margin-left: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;

  & .product-slider-heading-wrapper {
  }

  & .swiper-wrapper {
    margin-top: 0;
  }

  & .product-slider-heading-wrapper:after {
    margin-left: 0;
  }

  & .product-slider-heading {
    display: none;
  }
}

.fancybox-caption {
  text-align: center;
  border-top: 0;
}

.is-reviews-toggle {

  @include button-variant;
  margin-bottom: 0.5rem;
  margin-top: 1rem;

  &:after {
    padding-left: 0.25rem;
  }

  &.is-unchecked {

    @include own-icon($fa-angle-right, 'iconmonstr-iconic-font', 'after') {
      position: relative;
      top: 0.25em;
    };
  }

  &.is-checked {

    @include own-icon($fa-angle-down, 'iconmonstr-iconic-font', 'after') {

    };
  }
}

.is-comments-toggle {

  @extend .is-reviews-toggle;
}

.sidebar-menu-marker.filter-marker {
  margin-left: auto;
  color: $color-link-primary;
}


.filter-section.has-active-items {

  & .sidebar-menu-marker.filter-marker {
    display: none;
  }

  & .filter-section-name {
    color: $color-link-primary-hover;
  }
}

.filter-section-toggle.is-active-toggle.is-active {

  & > .filter-marker {

    @include own-icon($fa-angle-up, 'iconmonstr-iconic-font') {
      position: relative;
      top: 0.25em;
    };
  }
}


.filter-section-clear.is-filter-section-clear {
  padding: 0.5rem 0.75rem;
  color: $color-link-primary-hover;
  background-color: transparent;
}

.filter {
  margin: 0 0.25rem;
}

.ajs-header {
  background-color: $color-background-primary;
}

.form-label {
  color: $color-text-primary;
}

.ajs-footer {
  background-color: $color-background-primary;
}

.ajs-dialog {
  background-color: $color-background-primary;
  color: $color-text-primary;
}

.form-notice {
  color: $color-text-primary;
}

.ajs-cancel {
  color: $color-text-primary;
}
.bundle-preorder {
  margin-left: 0.5rem;
}


.discount-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.discount-card {
    display: block;
    background-color: #f7f8fa;
    width: 100%;
    color: #6d6a75;
    border: 1px solid #dcdcdc;
    transition: 0.35s;
}

.discount-card:hover {
    background-color: #eaebed;
    color: #17183b !important;
    transition: 0.35s;
}

.discount-card:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.discount-card:last-child {
    border-left: 0px none;
    border-right: 1px solid #dcdcdc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.discount-card:nth-child(2) {
    border-left: 0px none;
}

span.result-percent {
    display: block;
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 400;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
}

.discount-info-image {
    display: inline-block;
    vertical-align: top;
    padding-right: 6px;
    padding-top: 1rem;
}

.discount-info-text {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    max-width: 140px;
    padding: .5rem 0;
}

.tab-toggle {
 i {
  display: none;
	  @include media-max(sm) {
		display: inline-block;	
	
	}
}
}

.slide-video {
		
 i {
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

}
